:root{
    --iris-color:#4D5AE5;
    --ocean-color:#404BBF;
    --white-color:#fff;
    --navy-color:#2E2F42;
    --cloud-color:#F4F4FD;
    --slate-color:#434455;
}
body {
    font-family: 'Roboto', sans-serif;
    color:#434455;
    line-height: 1.5;
    background-color: var(--white-color);
}
header{
    background-color:var(--white-color);
}
.logo:hover, button:hover,
.logo:focus, button:focus {
    color:var(--white-color);
    background-color:var(--ocean-color);
}
.link:hover, .address:hover {
    color:var(--ocean-color)
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight:800;
    line-height:1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase; 
    color: var(--iris-color);
}
.studio{
    color:var(--navy-color);
}
.link {
    letter-spacing: 0.02em;
    font-weight: 500;
    color: var(--navy-color);
    text-decoration: none;
}
address .list a {
    text-decoration: none;
    color:var(--slate-color);
    font-weight: 400;
    font-style: normal;
}
.list {
    list-style: none;
}
button{
    color:var(--iris-color);
    cursor: pointer;
    font-weight: 500;
}
h3{
    font-weight: 500;
}
.footer {
    background-color:var(--navy-color);
    color:var(--cloud-color);
}
.studio-footer{
    color: var(--cloud-color);
}