:root{
    --iris-color:#4D5AE5;
    --ocean-color:#404BBF;
    --white-color:#fff;
    --navy-color:#2E2F42;
    --cloud-color:#F4F4FD;
    --slate-color:#434455;
}
body {
    font-family: 'Roboto', sans-serif;
    color:var(--slate-color);
    line-height: 1.5;
    background-color: var(--white-color);
}
header{
    background-color:var(--white-color);
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight:800;
    line-height:1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase; 
    color: var(--iris-color);
}
.studio{
    color:var(--navy-color);
}
.address{
    font-style: normal;
    text-decoration: none;
    color:var(--slate-color);
    font-weight: 400;
}
.navigation {
    letter-spacing: 0.02em;
    font-weight: 500;
    color: var(--navy-color);
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
.button{
    color:var(--iris-color);
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    background-color: var(--cloud-color);
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}
.link:hover,
.link:focus,
.link:active,
.address:hover {
    color: var(--ocean-color)
}
.logo:hover,
.button:hover,
.logo:focus,
.button:focus,
.logo:active,
.button:active {
    color: var(--white-color);
    background-color: var(--ocean-color);
}
.heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-color);
}
.par {
    font-size: 16px;
    color: var(--slate-color);
    letter-spacing: 0.02em;
}
.footer {
    background-color:var(--navy-color);
    color:var(--cloud-color);
}
.par-footer {
    letter-spacing: 0.02em;
}
.studio-footer{
    color: var(--cloud-color);
}
.first-section {
    background-color: var(--navy-color);
    color: var(--white-color);
}
.four-section {
    background-color: var(--cloud-color);
}
.one-heading {
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.07;
    font-size: 56px;
    text-align: center;
    color: var(--white-color)
}
.index-button {
    color: var(--white-color);
    background-color: var(--iris-color);
    font-size: 16px;
    letter-spacing: 0.04em;
    font-weight: 500;
    line-height: 1.5;
}
.index-button:hover,
.index-button:active,
.index-button:focus {
    background-color:var(--ocean-color);
}
.three-heading {
    color: var(--navy-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.par-index {
    letter-spacing: 0.02em;
}
.two-heading {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
}
.point {
    background-color: var(--white-color);
}