* {
margin: 0;
padding: 0;
}
:root{
    --iris-color:#4D5AE5;
    --ocean-color:#404BBF;
    --white-color:#fff;
    --navy-color:#2E2F42;
    --cloud-color:#F4F4FD;
    --slate-color:#434455;
    --cornflower-color:#E7E9FC;
    --grey-color: #2E2F42B2;
    --light-color: #8E8F99;
    --green-color: #31D0AA;
    --dairy-color: #FCFCFC;
}
img {
    display: block;
}
body {
    font-family: 'Roboto', sans-serif;
    color:var(--slate-color);
    line-height: 1.5;
    background-color: var(--white-color);
}
.container {
    width: 1158px;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    padding: 0 15px;
}
.block {
    display: block;
}
.header {
    background-color:var(--white-color);
    justify-content: space-around;
    border-bottom: 1px solid var(--cornflower-color);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.nav {
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight:800;
    line-height:1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase; 
    color: var(--iris-color);
    margin-right: 76px;
}
.studio{
    color:var(--navy-color);
}
.address{
    font-style: normal;
    text-decoration: none;
    color:var(--slate-color);
    font-weight: 400;
    letter-spacing: 0.02em;
}
.navigation {
    letter-spacing: 0.02em;
    font-weight: 500;
    color: var(--ocean-color);
    padding: 24px 0;
    position: relative;
}
.navigation:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--ocean-color);
    color: var(--ocean-color);
    left: 0;
    bottom: -1px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list {
    gap: 40px;
    padding: 24px 0;
}
.address-list {
    padding: 24px 0 24px 120px;
    gap:40px;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
    display: flex;
}
.section {
    padding:120px 0;
}
.portfolio {
    padding: 96px 0 120px 0;
    column-gap: 24px;
    row-gap: 48px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.button-list {
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}
.button{
    color:var(--iris-color);
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    background-color: var(--cloud-color);
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    padding: 12px 24px;
    border: 1px solid var(--cornflower-color);
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hover:hover,
.hover:focus,
.hover:active {
    border:1px solid transparent;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}
.link:hover,
.link:focus,
.link:active,
.address:hover {
    color: var(--ocean-color)
}
.button:hover,
.button:focus,
.button:active {
    color: var(--white-color);
    background-color: var(--ocean-color);
}
.link-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    column-gap: 24px;
    row-gap: 48px;
    padding: 0;
}
.point-li {
    width: calc((100% - 48px) / 3);
    }
.point-li a {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.point-li a:hover,
.point-li a:focus,
.point-li a:active {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
.port-anime-img {
    position: relative;
    overflow: hidden;
}
.port-anime {
    color: var(--cloud-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    background-color: var(--iris-color);
    width: 360px;
    height: 300px;
    padding: 40px 32px;
    position: absolute;
    transform: translateY(100%);
    top: 0;
    left: 0;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.port-anime-img:hover .port-anime,
.port-anime-img:focus .port-anime,
.port-anime-img:active .port-anime
 {
    transform: translateY(0%)
}
.heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-color);
    margin: 0 0 8px 0;
}
.par {
    font-size: 16px;
    color: var(--slate-color);
    letter-spacing: 0.02em;
}
.products {
padding: 32px 16px;
border: 1px solid var(--cornflower-color);
border-top: none;
}
.footer {
    background-color:var(--navy-color);
    color:var(--cloud-color);
    padding: 100px 0;
    display: flex;
    }
.footer-container {
    align-items: baseline;
}
.margin {
    margin-right: 120px;
}
.par-footer {
    letter-spacing: 0.02em;
    width: 264px;
}
.studio-footer{
    color: var(--cloud-color);
}
.link-footer {
    margin-bottom: 16px;
    display: inline-block;
}
.links-footer {
    width: 100%;
    height: 100%;
    background-color: var(--iris-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container-social {
    flex-grow: 1;
    margin-right: 120px;
}
.four-heading {
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.5;
    color: var(--white-color);
    margin-bottom: 16px;
}
.footer-list {
    display: flex;
    gap: 16px;

}
.first-section {
    background-color: var(--navy-color);
    color: var(--white-color);
    display: block;
    padding: 188px 0;
    background-image: 
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people.jpg);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1440px;
    background-size: cover;
    margin: auto;
}
.second-section{
    gap: 24px;
}
.third-section {
    padding-top: 0;
}
.point-list-section-two {
    width: calc((100% - 72px) / 4);
}
.icons {
    background-color: var(--cloud-color);
    border-radius: 4px;
    width: 264px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}
.icons > svg {
    width: 64px; 
    height: 64px;
}
.social-team {
   display: flex;
   gap: 24px;
   justify-content: center;
   align-items: center;
}
.media-link:hover,
.media-link:focus {
    background-color: var(--ocean-color);
}
.icons-footer {
    height: 40px;
    width: 40px;
}
.links-footer:hover,
.links-footer:focus {
    background-color: var(--green-color);
}
.media-link {
    width: 100%;
    height: 100%;
    background-color: var(--iris-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.svg-two {
    fill: var(--cloud-color);
    height: 16px;
    width: 16px;
}
.link-four {
    width: 40px;
    height: 40px;
}
.svg-three {
    height: 56px;
    width: 104px;
    fill: currentColor;
}
.link-five:hover,
.link-five:focus {
    fill: var(--ocean-color);
    border-color: var(--ocean-color);
    color: var(--ocean-color);
}
.svg-four {
    height: 24px;
    width: 24px;
    margin: 8px;
    fill: var(--cloud-color);
}
.five-container {
    display: block;
}
.five-section {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.point-list-section-three {
    width: calc((100% - 48px) / 3);
}
.point-list-section-two h3 {
    text-align: left;
}
.point-list-section-five {
    display: flex;
    height: 88px;
    width: calc((100% - 120px) / 6);
    }
.link-five {
    width: 100%;
    height: 100%;
    border: 1px solid var(--light-color);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    display: flex;
    fill: var(--light-color);
    color: var(--light-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.four-section {
    background-color: var(--cloud-color);
}
.one-heading {
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.07;
    font-size: 56px;
    text-align: center;
    color: var(--white-color);
    max-width: 496px;
    margin: 0 auto;
}
.index-button {
    color: var(--white-color);
    background-color: var(--iris-color);
    font-size: 16px;
    letter-spacing: 0.04em;
    font-weight: 500;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    padding: 16px 32px;
    margin: 48px auto 0 auto;
    border-radius: 4px;
    border: 0;
    min-width: 169px;
    height: 56px;
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.index-button:hover,
.index-button:active,
.index-button:focus {
    background-color:var(--ocean-color);
}
.three-heading {
    color: var(--navy-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin: 8px 0;
    text-align: center;
}
.par-index {
    letter-spacing: 0.02em;
}
.par-index-two {
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}
.two-heading {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--navy-color);
    margin-bottom: 72px;
}
.point {
    background-color: var(--white-color);
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    width: calc((100% - 72px) / 4);
}
.name-workplace {
    padding: 32px 0;
}

/* Okno modalne */

.backdrop {
    width: 100%;
    height: 100%;
    background-color: #2E2F4266;
    position: fixed;
    top: 0;
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal {
    width: 408px;
    height: 584px;
    margin:80px auto;
    border-radius: 4px;
    background-color: var(--dairy-color);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    position: relative;
}
.close-button {
    position: absolute;
    fill: var(--cornflower-color);
    border: 1px solid rgba(0, 0, 0, 0.10);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    top: 24px;
    right: 24px;
}
.svg-x {
    fill: var(--navy-color);
    margin: 8px;
}