*{
    margin:0;
    padding: 0;
}
:root{
    --iris-color:#4D5AE5;
    --ocean-color:#404BBF;
    --white-color:#fff;
    --navy-color:#2E2F42;
    --cloud-color:#F4F4FD;
    --slate-color:#434455;
    --cornflower-color:#E7E9FC;
}
img {
    display: block;
}
body {
    font-family: 'Roboto', sans-serif;
    color:var(--slate-color);
    line-height: 1.5;
    background-color: var(--white-color);
}
.container {
    width: 1158px;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    padding: 0 15px;
}
.block {
    display: block;
}
.header {
    background-color:var(--white-color);
    justify-content: space-around;
    border-bottom: 1px solid var(--cornflower-color);
}
.nav {
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight:800;
    line-height:1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase; 
    color: var(--iris-color);
    margin-right: 76px;
}
.studio{
    color:var(--navy-color);
}
.address{
    font-style: normal;
    text-decoration: none;
    color:var(--slate-color);
    font-weight: 400;
    letter-spacing: 0.02em;
    margin: 0 20px;
}
.navigation {
    letter-spacing: 0.02em;
    font-weight: 500;
    color: var(--navy-color);
    padding: 24px 0;
}
.nav-list {
    gap: 40px;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
    display: flex;
}
.section {
    padding:120px 0;
}
.portfolio {
    padding: 96px 0 120px 0;
    column-gap: 24px;
    row-gap: 48px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.button-list {
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}
.button{
    color:var(--iris-color);
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    background-color: var(--cloud-color);
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    padding: 12px 24px;
    border: 1px solid var(--cornflower-color);
    border-radius: 4px;
}
.hover:hover,
.hover:focus,
.hover:active {
    border:1px solid transparent;
}
.link:hover,
.link:focus,
.link:active,
.address:hover {
    color: var(--ocean-color)
}
.logo:hover,
.button:hover,
.logo:focus,
.button:focus,
.logo:active,
.button:active {
    color: var(--white-color);
    background-color: var(--ocean-color);
}
.link-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    column-gap: 24px;
    row-gap: 48px;
    padding: 0;
}
.point-li {
    width: calc((100% - 48px) / 3);
}
.heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-color);
    margin: 0 0 8px 0;
}
.par {
    font-size: 16px;
    color: var(--slate-color);
    letter-spacing: 0.02em;
    margin: 0;
}
.products {
padding: 32px 16px;
border: 1px solid var(--cornflower-color);
border-top: none;
margin-bottom: 8px;
}
.footer {
    background-color:var(--navy-color);
    color:var(--cloud-color);
    padding: 100px 0;
    }
.par-footer {
    letter-spacing: 0.02em;
    width: 264px;
}
.studio-footer{
    color: var(--cloud-color);
}
.link-footer {
    margin-bottom: 16px;
    display: inline-block;
}
.first-section {
    background-color: var(--navy-color);
    color: var(--white-color);
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 188px 0;
}
.second-section{
    gap: 24px;
}
.point-list-section-two {
    width: calc((100% - 72px) / 4);
}
.point-list-section-three {
    width: calc((100% - 48px) / 3);
}
.four-section {
    background-color: var(--cloud-color);
}
.one-heading {
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.07;
    font-size: 56px;
    text-align: center;
    color: var(--white-color);
    max-width: 496px;
    margin: 0 auto;
}
.index-button {
    color: var(--white-color);
    background-color: var(--iris-color);
    font-size: 16px;
    letter-spacing: 0.04em;
    font-weight: 500;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    padding: 16px 32px;
    margin: 40px auto;
    border-radius: 4px;
    border: 0;
    min-width: 169px;
    height: 56px;
    display: block;
}
.index-button:hover,
.index-button:active,
.index-button:focus {
    background-color:var(--ocean-color);
}
.three-heading {
    color: var(--navy-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin:  0 0 8px 0;
}
.par-index {
    letter-spacing: 0.02em;
    text-align: center;
}
.two-heading {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}
.point {
    background-color: var(--white-color);
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 1px 0px #2E2F4229, 0px 1px 6px 0px #2E2F4214;
    width: calc((100% - 72px) / 4);
}
.name-workplace {
    padding: 32px 0;
}
